TABLEAU_SERVER_URL=https://REPLACE_WITH_DEVELOPMENT_SERVER
TABLEAU_SITE_CONTENT_URL=REPLACE_WITH_SITE_CONTENT_URL_OR_LEAVE_EMPTY_FOR_DEFAULT
TABLEAU_PAT_NAME=REPLACE_LOCALLY
TABLEAU_PAT_SECRET=REPLACE_LOCALLY
